

<div class="message-container green-border-left shadow p-md-3 my-md-3 px-sm-3 my-sm-3" id="message-<%= message.id %>">
  <i class="author">
    <span class="font-weight-bold"><%= message.user.first_name %></span>
    <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
  </i>
  <div class="d-flex mt-3">
    <% if current_user.admin %>
      <% if message.photo.attached? %>
        <div> 
          <%= cl_image_tag(message.photo.key, :width=>200, :crop=>"scale") %>
        </div>
      <% end %>
      <p class="pl-3"><%= emojify message.content %></p>
    <% else %>
      <% if message.photo.attached? %>
        <div> 
          <%= cl_image_tag(message.photo.key, :width=>200, :crop=>"scale", class: "rounded border shadow") %>
        </div>
      <% end %>
      <p class="pl-3"><%= emojify message.content %></p>
    <% end %>
  </div>
</div>
