<div class="container">
  <div class="chatroom">
    <h3>PLANTSCAPE || Chat</h3>

    <div>
      <%= simple_form_for [ @chatroom, @message ] do |f| %>
        <%= f.input :photo, as: :file, label: "Send a file:" %>
        <%= f.input :content, label: false, placeholder: "Message ##{@chatroom.name}" %>
      <% end %>

      <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
        <% counter = 0 %>
        <% @chatroom.messages.reverse.each do |message| %>
          <% break if counter > 9 %>
            <%= render "messages/message", message: message %>
            <% counter += 1 %>
        <% end %>
      </div>
    </div>
  </div>
</div>
