<%= simple_form_for @booking do |f| %>
	<div class="booking-form">

		<div class="booking-question last-element">
			<%= f.input :number_of_plants, label: "How many plants do you have? (price per day)", as: :range,wrapper_html: {class: "question"}, input_html: { min: '1', max: '100', step:'any', width: "500px", class: "slider"}, collection: 10..100 %> 
			<output class="number-plants" id="number_of_plants">50</output>
			<button type="button" class="next d-inline-flex flex-sm-row justify-content-around align-items-center arrow-1">
				<p class="p-2 flex-grow-1">Next </p>
				<p><i class="fas fa-long-arrow-alt-right"></i></p>
			</button>
		</div>


		<div class="booking-question last-element" id="watering-cal">
			<p class="question">Choose your the days your plants need to be watered!*</p>
			<input type="text" name="watering_dates" class="datepicker d-none" id="watering-days-calendar">
			<button type="button" class="next d-inline-flex flex-sm-row justify-content-around align-items-center arrow-2">
					<p class="p-2 flex-grow-1">Next  </p>
					<p><i class="fas fa-long-arrow-alt-right"></i></p>
			</button>
		</div>


		
		<div class="booking-question last-element" id="key">
			<p class="question">How do you want to handle your house key? *</p>
			<div class="radio-button margin-below">

<!-- 			<%#= f.label :key, 'Let at your favorite späti', :value => 'spati', class: "key-choice"%>
 		 	<%#= f.radio_button :key, 'spati' %> 
 		    <%#= f.label :key, 'Bring it to our PlantScape Office', :value => 'office', class: "key-choice" %>
  			<%#= f.radio_button :key, 'office', class: "key-choice" %>
  			<%#= f.label :key, 'Call us to find other options', :value => 'other', class: "key-choice" %>
  			<%#= f.radio_button :key, 'other', class: "key-choice" %> -->

				<input class="checkbox-key" type="radio" name="booking[key]" id="key-1" value="spati" checked>
				<label class="for-checkbox-key" for="key-1">
					<span data-hover="Store the key at your favorite Späti nearby">Store the key at your favorite Späti nearby</span>
				</label>

				<input class="checkbox-key" type="radio" name="booking[key]" id="key-2" value="office">
				<label class="for-checkbox-key" for="key-2">							
					<span data-hover="Bring it to our PlantScape Office">Bring it to our PlantScape Office</span>
				</label>
				<input class="checkbox-key" type="radio" name="booking[key]" id="key-3" value="other">
				<label class="for-checkbox-key" for="key-3">							
					<span data-hover="Contact us for more options">Contact us for more options</span>
			</label>
			</div>
			<button type="button" class="next d-inline-flex flex-sm-row justify-content-around align-items-center arrow-3">
				<p class="p-2 flex-grow-1">Next  </p>
				<p><i class="fas fa-long-arrow-alt-right"></i></p>
			</button>
		</div>


		<div class="booking-question last-element" id="addon-select">
			<p class="question">Would you like to book some extra services? *</p>
			<div class="margin-below">
				<%= f.input :dusting_service, label: "Dusting - we clean your plants (10€)", id: "dusting-service" %>
				<%= f.input :cutting_service, label: "Cutting - we give your plants a hairstyle (10€)", id: "cutting-service"%>
				<%= f.input :repotting_service, label: "Repotting - we help one of your plants growing (10€)", id: "repotting-service" %>
				<%= f.input :picture_service, label: "Picture - receive updates from your plants (10€)", id: "picture-service" %>
			</div>
			<button type="button" class="next d-inline-flex flex-sm-row justify-content-around align-items-center arrow-4">
				<p class="p-2 flex-grow-1">Next  </p>
				<p><i class="fas fa-long-arrow-alt-right"></i></p>
			</button>
		</div>

		<div class="booking-question last-element margin-below margin-ontop" id="booking-btn">
			<div>
				<iframe src="https://giphy.com/embed/3o7btNUijQYS0WAcwg" width="200" height="200" frameBorder="0" allowFullScreen></iframe>
			</div>
			<%= f.submit "Book", class: "yellow-button margin-below" %>	
		</div>

		<div>
			<%= f.hidden_field :price, class: "hiddenprice" %>
		</div>
<% end %>