<%= simple_form_for @booking do |f| %>
	<div class=" booking-form">

		<div class="booking-question">
			<%= f.input :number_of_plants, label: "How many plants do you have?", as: :range,wrapper_html: {class: "question"}, input_html: { min: '1', max: '100', step:'any', width: "500px", class: "slider"}, collection: 10..100 %> 
			<output class="number-plants" id="number_of_plants">50</output>
		</div>

		<div class="booking-question" id="watering-cal">
			<p class="question">Choose your watering days *</p>
			<input type="text" name="watering_dates" class="datepicker d-none" id="watering-days-calendar">
		</div>
		
		<div class="booking-question">
			<p class="question">How do you want to handle your key house? *</p>
			<div class="radio-button">

<!-- 			<%#= f.label :key, 'Let at your favorite späti', :value => 'spati', class: "key-choice"%>
 		 	<%#= f.radio_button :key, 'spati' %> 
 		    <%#= f.label :key, 'Bring it to our PlantScape Office', :value => 'office', class: "key-choice" %>
  			<%#= f.radio_button :key, 'office', class: "key-choice" %>
  			<%#= f.label :key, 'Call us to find other options', :value => 'other', class: "key-choice" %>
  			<%#= f.radio_button :key, 'other', class: "key-choice" %> -->

				<input class="checkbox-key" type="radio" name="booking[key]" id="key-1" value="spati" checked>
				<label class="for-checkbox-key" for="key-1">
					<span data-hover="Let at your favorite späti">Let at your favorite späti</span>
				</label>

				<input class="checkbox-key" type="radio" name="booking[key]" id="key-2" value="office">
				<label class="for-checkbox-key" for="key-2">							
					<span data-hover="Bring it to our PlantScape Office">Bring it to our PlantScape Office</span>
				</label>
				<input class="checkbox-key" type="radio" name="booking[key]" id="key-3" value="other">
				<label class="for-checkbox-key" for="key-3">							
					<span data-hover="Call us to find other options">Call us to find other options</span>
			</label>
			</div>
		</div>

		<div class="booking-question">
			<p class="question">Would you like to book some extra? *</p>
			<%= f.input :dusting_service, label: "Dusting - clean your plants"%>
			<%= f.input :dusting_service, label: "Cutting - give your plants a hairstyle" %>
			<%= f.input :dusting_service, label: "Repotting - help your plants growing" %>
			<%= f.input :dusting_service, label: "Picture - receive photo updates from your plants" %>
			
			<%= f.submit "Book", class: "yellow-button" %>
		</div>
			<%= render "shared/card-key" %>
		
		<%= f.hidden_field :price, value: params[:requestval] %>
		<%= f.button :submit , "Book", id: "home-btn", class: "white-text"%>
	</div>
<% end %>