<div class="container">
  <!-- <div class="row" style="height: 70vh" > -->
  <!-- <div class="row" style="height: 50vh" > -->
  <div class="row mt-4">
    <!-- <div class="col border-3 mb-2 ml-2 mr-2"> -->
      <!-- <div class="card" style="width: 18rem;"> -->
      <div class="col-sm-6 col-md-6 col-lg-4 mb-4">
        <div class="card card-plant-style card-dynamic pos-relative">
          <div class="card-plant-img">
            <%= image_tag "Monstera_1.jpeg", class: "card-img-top rounded"%>
            <!-- DO NOT DELETE THE CL TAG currently commented out I will use it to test my card iteration  -->
            <%#= cl_image_tag plant.photo.key, class: "card-img-top rounded"%>
          </div>
          <!-- <img src="Monstera_5.jpeg" class="card-img-top" alt="Plant"> -->
          <div class="card-body">
            <h5 class="card-title">Monstera</h5>
            <!-- card-text limites to lenght: 100 -->
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn yellow-button">Go to plant</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-4 mb-4">
        <div class="card card-plant-style card-dynamic pos-relative">
          <div class="card-plant-img">
            <%= image_tag "Ficus_1.jpeg", class: "card-img-top rounded"%>
            <!-- DO NOT DELETE THE CL TAG currently commented out I will use it to test my card iteration  -->
            <%#= cl_image_tag plant.photo.key, class: "card-img-top rounded"%>
          </div>
          <!-- <img src="Monstera_5.jpeg" class="card-img-top" alt="Plant"> -->
          <div class="card-body">
            <h5 class="card-title">Ficus Elastica</h5>
            <!-- card-text limites to lenght: 100 -->
            <p class="card-text">Some quick example text to build </p>
            <a href="#" class="btn yellow-button">Go to plant</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-4 mb-4">
        <div class="card card-plant-style card-dynamic pos-relative">
          <div class="card-plant-img">
            <%= image_tag "Snakeplant_1.jpeg", class: "card-img-top rounded"%>
            <!-- DO NOT DELETE THE CL TAG currently commented out I will use it to test my card iteration  -->
            <%#= cl_image_tag plant.photo.key, class: "card-img-top rounded"%>
          </div>
          <!-- <img src="Monstera_5.jpeg" class="card-img-top" alt="Plant"> -->
          <div class="card-body">
            <h5 class="card-title">Snake Plant</h5>
            <!-- card-text limites to lenght: 100 -->
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. </p>
            <a href="#" class="btn yellow-button">Go to plant</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-4 mb-4">
        <div class="card card-plant-style card-dynamic pos-relative">
          <div class="card-plant-img">
            <%= image_tag "Hangingplant_1.jpeg", class: "card-img-top rounded"%>
            <!-- DO NOT DELETE THE CL TAG currently commented out I will use it to test my card iteration  -->
            <%#= cl_image_tag plant.photo.key, class: "card-img-top rounded"%>
          </div>
          <!-- <img src="Monstera_5.jpeg" class="card-img-top" alt="Plant"> -->
          <div class="card-body">
            <h5 class="card-title">Marble</h5>
            <!-- card-text limites to lenght: 100 -->
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn yellow-button">Go to plant</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-4 mb-4">
        <div class="card card-plant-style card-dynamic pos-relative">
          <div class="card-plant-img">
            <%= image_tag "ChamaedoreaElegans_1", class: "card-img-top rounded"%>
          </div>
          <!-- <img src="Monstera_5.jpeg" class="card-img-top" alt="Plant"> -->
          <div class="card-body">
            <h5 class="card-title">Chamaedorea Elegans</h5>
            <!-- card-text limites to lenght: 100 -->
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn yellow-button">Go to plant</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-4 mb-4">
        <div class="card card-plant-style card-dynamic pos-relative">
          <div class="card-plant-img">
            <%= image_tag "PeaceLily_4", class: "card-img-top rounded"%>
            <!-- DO NOT DELETE THE CL TAG currently commented out I will use it to test my card iteration  -->
            <%#= cl_image_tag plant.photo.key, class: "card-img-top rounded"%>
          </div>
          <!-- <img src="Monstera_5.jpeg" class="card-img-top" alt="Plant"> -->
          <div class="card-body">
            <h5 class="card-title">Peace Lily</h5>
            <!-- card-text limites to lenght: 100 -->
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn yellow-button">Go to plant</a>
          </div>
        </div>
      </div>


    <!-- </div> -->
  </div>
</div>
