  <% @jungles.each do |jungle| %>

    <div class="card-product mb-4 card-jungle">

      <div class="position-relative card-body">
        <% if policy(jungle).edit? %>
          <div class="position-absolute btn-group right-corner" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-link dropdown-toggle no-border color-beige" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-cog"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
              <%= link_to "Details", jungle_path(jungle), class: "dropdown-item"%>
              <%= link_to "Edit", edit_jungle_path(jungle), class: "dropdown-item"%>
              <%= link_to "Delete", jungle_path(jungle), method: :delete, class:"dropdown-item"%>
            </div>
          </div>
        <% end %>

          <h5 class="card-title"><%= jungle.name.titleize %></h5>
          <p class="card-text"><small class="text-muted">📍 <%= jungle.address %></small></p>
          <div class="">
            <%#= link_to "Explore your Jungle", jungle_path(jungle), class:"w-50 btn yellow-button shadow" %>
          </div>
        </div>

        <% if jungle.photo.attached? %>
          <%= cl_image_tag jungle.photo.key, class: "card-img-top" %>
        <% else %>
          <%= image_tag("https://images.unsplash.com/photo-1488353816557-87cd574cea04?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80", class: "card-img-top img-for-junglecards") %>
        <% end %>
      </div>
    <% end %>
  </div>

