<div class="container">
  <% @jungles.each do |jungle| %>
  <div class="row row-cols-1 row-cols-md-2">
    <div class="card mb-4">
          <% if jungle.photo.attached? %>
            <%= cl_image_tag jungle.photo.key, class: "card-img-top" %>
          <% else %>
            <%= image_tag("https://source.unsplash.com/random", class: "card-img-top") %>
          <% end %>
          <% if policy(jungle).edit? %>
            <div class="btn-group right-corner" role="group">
              <button id="btnGroupDrop1" type="button" class="btn btn-link dropdown-toggle no-border color-beige" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-cog"></i>
              </button>
              <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <%= link_to "Edit", edit_jungle_path(jungle), class: "dropdown-item"%>
                <%= link_to "Delete", jungle_path(jungle), method: :delete, class:"dropdown-item"%>
              </div>
            </div>
          <% end %>
      <div class="position-relative card-body">
        <h5 class="card-title"><%= jungle.name.titleize %></h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">📍 <%= jungle.address %></small></p>      
        <div class="text-right mr-4">
          <%= link_to "Explore your Jungle", jungle_path(jungle), class:"w-50 btn yellow-button shadow" %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
