

<div class="row mt-5">
  <% @jungle.jungleplants.each do |jp| %>
    <div class="col-sm-6 col-md-6 col-lg-4 mb-4 link-style">
      

      <!-- CREATING THE CARD CONTAINER -->
      <div class="card card-plant-style card-dynamic pos-relative card-plant-style-hover">
      <%#= link_to plant_path(jp) do%>
        <!-- TOP IMAGE part of CARD PLANT -->
        <div class="jp-overlay d-flex justify-content-between w-100">
          <div class="icon-status mt-2 ml-2 text-center">
            <strong><%= jp.status %></strong>
          </div>
          <div class="dropdown mt-2 mr-5">
              <button id="btnGroupDrop1" type="button" class="btn btn-link dropdown-toggle no-border color-beige" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                More
              </button>
              <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <%= link_to "Details", plant_path(jp), class: "dropdown-item"%>
                <%= link_to "Edit", edit_jungleplant_path(jp), class: "dropdown-item"%>
                <%= link_to "Delete", jungleplant_path(jp), method: :delete, class:"dropdown-item"%>
              </div>
          </div>
        </div>
        
        <div class="card-plant-img">
        <%= cl_image_tag jp.plant.photo.key, class: "card-plant-img rounded"%>
        </div>
        <!-- bottom part of CARD PLANT -->
        <div class="card-body">
          <div>
            <p class="card-text"><%= jp.plant.name %></p>
          </div>
          <div>
            <p><i class="fas fa-quote-left"></i> <%= jp.comments %></p>
          </div>
        </div>
      </div>
    <%# end %>
    </div>
  <% end %>
</div>