<nav class="navbar navbar-expand-sm navbar-light navbar-lewagon <%= background ? "transparent" : "normal"%>">
  <%= link_to "#", class: "logo" do %>
    <%= image_tag image_path("logo.png") %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto nav-list">
      <li class="nav-item active">
        <a class="nav-link" href="#"><%= link_to "Plantscape", root_path%> <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#"><%= link_to "Plant-A-Sitter", new_booking_path%> <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#"><%= link_to "Plants Library", plants_path%></a>
      </li>
    </ul>
    <% if user_signed_in? %>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= image_tag image_path("avatar.jpg"), class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %></i>
          </a>
        <div class="dropdown-menu dropdown-menu-right shadow p-3 mb-5 rounded" aria-labelledby="navbarDropdown">
          <p class="dropdown-item"><%= link_to "My Dashboard", dashboards_index_path %></p>
          <p class="dropdown-item"><%= link_to "+ Hire a plantsitter", new_booking_path %></p>
          <div class="dropdown-divider"></div>
          <p class="dropdown-item"><%= link_to "Log out", destroy_user_session_path, method: :delete %></p>
    <% else %>
      <li class="nav-item">
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      </li>
    <% end %>
        </div>
      </li>
  </div>
</nav>
