      <div class="form-inputs">
        <%= simple_form_for [@jungle, @jungleplant] do |f| %>
          <%= f.label :plant, "Which plant do you want to add to you jungle?" %>
          <!-- commenting out the next line which is hardcoded, and working on the real iteration  -->
          <%#= f.input :plant, as: :check_boxes, collection: ["Monstera", "Ficus", "Palm"] %>
          <!-- commenting out the next block becuase the FE works but the save method not -->
          <!-- <%# plants = [] %> -->
          <!-- <%# @plants.each {|plant| plants.push(plant.name)} %> -->
          <!-- <%#= f.input :plant, as: :check_boxes, collection: plants %> -->

          <%# @plants.each do |plant| %>
            <%#= f.select :plant, as: :check_boxes, collection: plant.name %>
            <%#= f.input :plant, as: :check_boxes, collection: @plants %>
            <%= f.association :plant, label: false %>
          <%# end %>
          <br>
          <%= f.label :comments, "Write your personal notes about this plant here..." %>
          <%#= f.text_field :comments%>
          <%= f.input :comments, label: false, :input_html => { :cols => 20, :rows => 3 } %>
          <br>
          <%= f.label :status, "What is the plants actual status? Please choose." %>
          <%= f.input :status, label: false, collection: ["Happy & Healthy", "Dusty, but fine", "Could be better", "Needs some care", "Almost dying"] %>
          <br>
          <%= f.submit "Add plant", class: "btn small-yellow-button shadow mb-5 text-right", disable_with: 'Adding plant to your jungle...' %>
          <br>
        <% end %>
      </div>