
<!-- BANNER CONTAINER -->
<div class="row">
  <div class="banner">
      <div class="row p-5">
        <div class="banner-heading"><h1>We take your plants on vacation - while you are.</h1></div>
        <!-- <h1 class="text-center">while you are.</h1> -->
      <!--     <h3 class="color-black margin-bottom">Hire a plantsitter now!</h3> -->

        <%#= link_to "Hire a plantsitter", new_booking_path, class: "btn btn-lg yellow-button shadow px-5 py-3 mb-5" %>
      </div>
      <div class="row d-flex justify-content-center">
        <%= link_to "Hire a plantsitter", new_booking_path, class: "btn big-yellow-button shadow" %>
        <%= link_to "How it works", new_booking_path, class: "btn big-transparant-button shadow" %>
      </div>
  </div>
</div>

<!-- HOW IT WORKS CONTAINER -->

<!-- HOW IT WORKS OPTION 2 -->
<div class="container-fluid mb-4">
  <!-- HOW IT WORKS HEADLINE -->
  <div class="row mt-4 ml-2 mr-2">
    <div class="subtitle1 col-sm-12 p-3 mb-0 htw-container home-page">
      <div class="box-title">
        <h2 >How it works</h2>
        <p class="barre">.</p>
      </div>
      <!-- <p class="mission-text">Our mission is to provide plants-care in urban areas. We provide plant-care at its best and we treat your plants like if they were ours.</p> -->
    </div>
  </div>
  <div class="row ml-2 mr-2 d-flex justify-content-around">
    <div class="col-xs-6 col-sm-12 col-lg-3 p-3 htw-card">
        <!-- inside a col we need an image and h2 and a p -->
        <!-- <img src="logo.png" height="80px" width="auto"> -->
        <i class="fas fa-leaf d-flex justify-content-center"></i>
        <br>
        <h5 class="text-center">Pick the number of plants</h5>
        <!-- <p class="text-center">The number of plants will influence the final price of the service.</p> -->
    </div>
    <div class="col-xs-6 col-sm-12 col-lg-3 p-3 htw-card">
        <!-- inside a col we need an image and h2 and a p -->
        <!-- <img src="logo.png" height="80px" width="auto"> -->
        <i class="fas fa-calendar-alt d-flex justify-content-center"></i>
        <br>
        <h5 class="text-center">Pick dates for your service</h5>
        <!-- <p class="text-center">We are happy to take care of your plant at anytime.</p> -->
    </div>
    <div class="col-xs-6 col-sm-12 col-lg-3 p-3 htw-card">
        <!-- inside a col we need an image and h2 and a p -->
        <!-- <img src="logo.png" height="80px" width="auto"> -->
        <i class="fas fa-key d-flex justify-content-center"></i>
        <br>
        <h5 class="text-center">Time to handle your keys</h5>
        <!-- <p class="text-center">We offer very felxible options, all safe and secure.</p> -->
    </div>
    <div class="col-xs-6 col-sm-12 col-lg-3 p-3 htw-card">
        <!-- inside a col we need an image and h2 and a p -->
        <!-- <img src="logo.png" height="80px" width="auto"> -->
        <i class="fas fa-user-check d-flex justify-content-center"></i>
         <br>
        <h5 class="text-center">In need of special treats?</h5>
        <p class="text-center">Dusting, cutting, Repotting and we even send you pictures.</p>
    </div>
  </div>
</div>

<!-- REVIEW PART -->

<div class="container-fluid mb-4">
  <div class="row mt-4 ml-2 mr-2">
    <div class="subtitle1 col-sm-12 p-3 mb-0 htw-container home-page">
      <%= render 'pages/index' %>
      <br>
      <div class=" d-flex justify-content-center"><button type="button" class="btn small-yellow-button shadow mb-5" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">New Review</button></div>

    </div>
  </div>
</div>

<!-- STUFF FOR THE MODAL OF THE REVIEW PART -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content d-flex justify-content-around">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">How do you like Plantsitter?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body d-flex justify-content-center ">
        <%= simple_form_for [@newreview] do |f|%>
          <div class="form-group">
            <%= f.label :title %>
            <br>
            <%= f.text_field :title, class:"form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :comment %>
            <br>
            <%= f.text_area :comment, class:"form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :rating%>
            <br>
            <%= f.range_field :rating, in: 1..5 %>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn gray-button " data-dismiss="modal">Close</button>
       <%= f.submit class:"btn small-yellow-button shadow"%>
      <!--  <iframe src="https://giphy.com/embed/txCo7WXCwZpmM" width="480" height="343" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/days-plant-growth-txCo7WXCwZpmM">via GIPHY</a></p> -->
      </div>
      <% end %>
    </div>
  </div>
</div>
