<div class="container">
  <div class="box-title">
    <h2>Checkout summary</h2>
    <p class="barre">.</p>
  </div>
  
  <div class="row mt-5 mb-5 mr-5">
    <div class="col-sm-7 booking-summary">
      <div class="col">
        <div class="col">
          <h3>You're order:</h3>
          <br>
          <ul class="list-unstyled">
            <li><strong>DATES:</strong>
              <ul>
              <% @bookings.waterings.each do |water| %>
                  <li><span><%= water.date.strftime("%A, %b %d") %></span></li>
              <% end %>
              </ul>
            </li>
            <li><strong>WATERINGS</strong> <%= @order.booking.waterings.count %></li>
            <li><strong>KEY-OPTION</strong> <%= @order.booking.key%></li>
            <li><strong>NUMBER OF PLANTS</strong> <%= @order.booking.number_of_plants %></li>
            <li><strong>TOTAL</strong> <%= humanized_money_with_symbol @order.amount %></li>
          </ul>
          <button id="pay" class="btn btn-lg big-yellow-button shadow px-5 py-3 mb-5">Pay now!</button>
          <script src="https://js.stripe.com/v3/"></script>
          <script>
            const paymentButton = document.getElementById('pay');
            paymentButton.addEventListener('click', () => {
            const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
            stripe.redirectToCheckout({
            sessionId: '<%= @order.checkout_session_id %>'
             });
            });
          </script>
        </div> 
      </div>
    </div>
  
    <div class="col-sm-5 pl-5 gif">
      <iframe src="https://giphy.com/embed/ZNn2OLYWJYDC60OKuo" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    </div>
  </div>
</div>
