x<div class="container final-booking-page">
  <div class="box-title">
    <h2>Checkout summary</h2>
    <p class="barre">.</p>
  </div>

  <div class="row mt-5 mb-5 mr-5 ml-5">
    <div class="col-md-6 booking-summary">
      <!-- <div class="col"> -->
        <!-- <div class="col"> -->
          <div class="row mt-4 mb-2 justify-content-center">
            <h3>Order summary</h3>
          </div>

          <div class="row mt-2 pt-4 pl-4">
            <ul class="list-unstyled order-list">
            <li><strong><i class="fab fa-pagelines"></i>     Number of plants - </strong> <%= @order.booking.number_of_plants %></li>
            <li><strong><i class="fas fa-calendar-day"></i>  Watering days - </strong><%= @order.booking.waterings.count %>
              <button class="btn" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                <i class="fas fa-angle-down"></i>
              </button>
              <div class="collapse" id="collapseExample">
                <ul class="dates">
                  <% @bookings.waterings.each do |water| %>
                      <li><span><%= water.date.strftime("%A, %b %d") %></span></li>
                  <% end %>
                </ul>
              </div>
            </li>
            <li><strong><i class="fas fa-key"></i>  Key option - </strong> <%= @order.booking.key%></li>
            <li><strong><i class="fas fa-plus"></i> Extras -  </strong>
              <% if @order.booking.dusting_service %>
                <i class="far fa-gem"></i>
              <% end %>
              <% if @order.booking.cutting_service %>
                <i class="far fa-hand-scissors"></i>
              <% end %>
              <% if @order.booking.repotting_service %>
                <i class="fas fa-exchange-alt"></i>
              <% end %>
              <% if @order.booking.picture_service %>
                <i class="fas fa-camera"></i>
              <% end %>
            </li>
            <!-- <li class="total"><i><strong>Your total is </strong><%= humanized_money_with_symbol @order.amount %></i> </li> -->
            </ul>
          </div>
          <div class="row justify-content-center">
            <p class="total"><i><strong>Your total is </strong><%= humanized_money_with_symbol @order.amount %></i> </p>
          </div>
          <div class="row mt-2 mb-2 justify-content-center">
          <button id="pay" class="btn btn-lg small-yellow-button shadow mb-5">Pay now</button>
          </div>
          <script src="https://js.stripe.com/v3/"></script>
          <script>
            const paymentButton = document.getElementById('pay');
            paymentButton.addEventListener('click', () => {
            const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
            stripe.redirectToCheckout({
            sessionId: '<%= @order.checkout_session_id %>'
             });
            });
          </script>
        <!-- </div> -->
      <!-- </div> -->
    </div>

    <!-- <div class="col-md-6 pl-5 mt-2"> -->
      <iframe src="https://giphy.com/embed/ZNn2OLYWJYDC60OKuo" width="500" height="500" frameBorder="0" class="col-md-6 giphy-embed" allowFullScreen></iframe>
    <!-- </div> -->
  </div>
</div>
