<div class="dashboard-banner">
  <div class ="dashboard-headings">
    <h1 class ="crazshadow">Your Jungle</h1>
    <h3><%= current_user.first_name %>, your next vacations will start in 22 days!</h3>
    <br>
  </div>
</div>

<!-- <div class ="dashboard-bookings">
  <h2>Upcoming Plantscapes</h2>
  <div class="dashboard-calender">
   <div class="row d-flex justify-content-around mt-5">
    <div style="width: 900px" class="d-flex flex-column justify-content-center">

      <% if @bookings.blank? %>
        <p>Oh your plants haven't planned any vacations!</p>
        <%else %>
        <h3>Your jungle will be pleased on the </h3>
          <% @bookings.each do |booki| %>
          <div>
            <%booki.waterings.each do |water| %>
              <p><%= water.date %>  ||    Plant = <%= booki.number_of_plants %>   ||  <%= booki.price %>€</p>
            <% end %>
        <% end %>
        </div>
      </div>
      <%end %>
      <div >
        <%= link_to " + new vacations", new_booking_path, class: "btn btn-lg yellow-button shadow px-5 py-3 mb-5" %>
      </div>
    </div>
  </div>
</div> -->

<div class ="dashboard-bookings">
  <h2>Upcoming Plantscapes</h2>
  <div class="dashboard-calender">
   <div class="row d-flex justify-content-around mt-5">
    <div style="width: 900px" class="d-flex flex-column justify-content-center">
      <% if @bookings.blank? %>
        <p>Oh your plants haven't planned any vacations!</p>
      <%else %>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Booking#</th>
              <th scope="col">Wateringdate(s)</th>
              <th scope="col">Number of Plants</th>
              <th scope="col">Special Services</th>
              <th scope="col">Price</th>
            </tr>
          </thead>
          <tbody>
            <% @bookings.each do |booki| %>
              <tr>
                <%booki.waterings.each do |water| %>
                  <th scope="row">1</th>
                  <td><%= water.date %></td>
                  <td><%= booki.number_of_plants %></td>
                    <% if booki.dusting_service %>
                      <td>Dusting Service</td>
                    <% else %>
                      <td>No extra Service</td>
                    <% end %>
                  <td><%= booki.price %>€</td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
    <div ><%= link_to " New booking", new_booking_path, class: "btn btn-lg yellow-button shadow px-5 py-3 mb-5" %></div>
  </div>
</div>
</div>



<div class="dashboard-plantcollection">
  <h2>Your Jungles</h2>
  <div class ="dashboard-jungles">
    <div class="row d-flex justify-content-around mt-5">

         <% if  @jungles.count == 0%>
           <div style="width: 900px" class="d-flex flex-column justify-content-center">
             <p>You do not have a jungle yet! If you create a Jungle and add your plants, you can upload pictures and a status to your plants! </p>
           </div>
           <div style="width: 200px"><%= link_to " Create a new Jungle", new_jungle_path, class: "btn btn-lg yellow-button shadow px-5 py-3 mb-5" %></div>
         <% elsif  @jungles.count == 1 %>
           <div style="width: 900px" class="d-flex flex-column">
            <% @jungles.each do |jungle| %>
              <h3><%= jungle.name.capitalize %></h3>
                <ul>
                  <% jungle.jungleplants.each do |jplant| %>
                    <li><%= jplant.plant.name  %> |
                      <%= jplant.status  %>
                    </li>
                  <% end %>
                </ul>
            </div>
            <div style="width: 200px">
              <%= link_to " Go to Jungle", jungle_path(jungle), class: "btn btn-lg yellow-button shadow px-5 py-3 mb-2" %><br>
              <%= link_to " + Plant to Jungle",new_jungle_jungleplant_path(jungle), class: "btn btn-lg yellow-button shadow px-5 py-3 mb-2" %>
            </div>
            <% end %>
        <%else %>
          <div style="width: 900px" class="d-flex flex-column justify-content-center">
              <% @jungles.each do |jungle|%>
                <p>
                  <h3><%= jungle.name.capitalize %></h3>
                  <%= link_to `This jungle`, jungle_path(jungle)%>
                </p>
              <% end %>
          </div>
          <div style="width: 900px"><%= link_to " Go to my Jungles",new_jungle_path, class: "btn btn-lg yellow-button shadow px-5 py-3 mb-5" %></div>
        <% end %>
      </div>
    </div>
  </div>
</div>
