<body>

<div class="dashboard-banner mb-5">
  <div class ="dashboard-headings">
    <h1 class ="crazshadow"><i>Happy to see you, <%= current_user.first_name %>.</i></h1>
    <p class="under">.</p>
  </div>
</div>

<!--------------------- UPCOMING BOOKINGS ----------------------->

<div class="container dashboard-page mt-5">
  <div class="d-flex mt-4">
      <h2>Upcoming Plantscapes</h2>
      <p class="barre">.</p>
      <%#= render "shared/underline" %>

    <!-- Button trigger modal -->
    <button type="button" class="btn modal-button" data-toggle="modal" data-target="#exampleModal">
    <i class="fas fa-question"></i>
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content extras-details">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Details</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
          </div>
        <div class="modal-body extras-details">
            <div class="d-flex"><i class="far fa-gem"></i><p> - Dusting - we clean your plants</p></div>
            <div class="d-flex"><i class="far fa-hand-scissors"></i><p> - Cutting - we give your plants a hairstyle</p></div>
            <div class="d-flex"><i class="fas fa-exchange-alt"></i><p> - Repotting - we help one of your plants growing</p></div>
            <div class="d-flex"><i class="fas fa-camera"></i><p> - Picture - receive updates from your plants</p></div>
        </div>
      </div>
    </div>
  </div>
  </div>

    <!-- <div class="dashboard-bookings"> -->
     <div class="row dashboard-bookings">
      <!-- <div class="d-flex flex-column"> -->
        <div class="col-10">
          <% if @upcoming_bookings.blank? %>
          <p class="text-left m-4">No Plantscape planned yet!</p>
          <%else%>
            <table class="col-12">
              <thead class= "bookings-head mb-5">
                <tr>
                  <th scope="col">Booking Number</th>
                  <th scope="col">Watering Dates</th>
                  <th scope="col">Number of Plants</th>
                  <th scope="col">Extras</th>
                  <th scope="col">Total Price</th>
                </tr>
              </thead>
              <tbody class= "bookings-body pt-5">
                <% @upcoming_bookings.each do |booki| %>
                  <tr>
                    <th scope="row"> # <%= booki.id %> </th>

                    <th scope="row" class="hover"><%= booki.waterings.count %> days
                      <div class="tooltipp"> <% booki.days.each do |date| %>
                        <ul>
                          <li><%= date %></li>
                        </ul>
                        <% end %>
                      </div>
                    </th>

                    <td><%= booki.number_of_plants %></td>
                    <td >
                      <% if booki.dusting_service %>
                        <i class="far fa-gem"></i>
                      <% end %>
                      <% if booki.cutting_service %>
                        <i class="far fa-hand-scissors"></i>
                      <% end %>
                      <% if booki.repotting_service %>
                        <i class="fas fa-exchange-alt"></i>
                      <% end %>
                      <% if booki.picture_service %>
                        <i class="fas fa-camera"></i>
                      <% end %>
                    </td>
                    <td><%= booki.price %>€</td>
                  </tr>
                <% end %>
              </tbody>
              
            </table>
          <% end %>
              <div class="d-flex">
                <button class="btn gray-button" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                  Past Bookings
                </button>
                <%= link_to " New booking", new_booking_path, class: "btn btn-lg small-yellow-button shadow" %>
              </div>
          </div>
        </div>
      </div>
    <!-- </div> -->


</div>

<!--------------------- PAST BOOKINGS ----------------------->

<div class="container dashboard-page past-bookings mt-5">


<div class="collapse" id="collapseExample">
  <div class="d-flex">
    <h2>Past Plantscapes</h2>
    <p class="barre">.</p>
    <%#= render "shared/underline" %>

  </div>


    <div class="dashboard-bookings mb-5">
         <div class="row d-flex mt-5">
          <div class="d-flex flex-column col-10">
            <% if @past_bookings.blank? %>
            <p>No past Plantscape!</p>
            <%else%>
              <table class="col-12">
                <thead class= "bookings-head">
                  <tr>
                    <th scope="col">Booking Number</th>
                    <th scope="col">Watering Dates</th>
                    <th scope="col">Number of Plants</th>
                    <th scope="col">Extras</th>
                    <th scope="col">Total Price</th>
                  </tr>
                </thead>
                <tbody>

                 <% @past_bookings.each do |booki| %>
                  <tr>
                    <th scope="row"> # <%= booki.id %> </th>

                  <th scope="row" class="hover"><%= booki.waterings.count %> days
                    <div class="tooltipp"> <% booki.days.each do |date| %>
                      <ul>
                        <li><%= date %></li>
                      </ul>
                      <% end %>
                    </div>
                  </th>


                      <td><%= booki.number_of_plants %></td>
                      <td >
                        <% if booki.dusting_service %>
                          <i class="far fa-gem"></i>
                        <% end %>
                        <% if booki.cutting_service %>
                          <i class="far fa-hand-scissors"></i>
                        <% end %>
                        <% if booki.repotting_service %>
                          <i class="fas fa-exchange-alt"></i>
                        <% end %>
                        <% if booki.picture_service %>
                          <i class="fas fa-camera"></i>
                        <% end %>
                      </td>
                      <td><%= booki.price %>€</td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            <% end %>
          </div>
        </div>
      </div>
  </div>
</div>

<!--------------------- Jungle with plants ----------------------->

<div class="container dashboard-page jungle">
    <h2>Your UrbanJungle</h2>
    <p class="barre">.</p>
    <%#= render "shared/underline" %>
  <div>
      <% if  @jungles.count == 0%>
          <p>You do not have a jungle yet!</p>
          <br>
          <p>If you create a Jungle and add your plants, you can upload pictures and a status to your plants!</p>
          <%= link_to " Create a new Jungle",new_jungle_path, class: "btn btn-lg small-yellow-button mb-5 mt-5" %>
        </div>
      <% else  @jungles.count >= 1 %>
          <div class="text-right">
            <p class="circle font-weight-bold text-center">
              <%= @jungle.jungleplants.length %>
              Plants
            </p>
          </div>

          <%= render "shared/jungleplants" %>
          <%= link_to " + Add a plant ", new_jungle_jungleplant_path(@jungle), class: "btn small-yellow-button shadow mb-5"%>
      <% end %>
  </div>
</div>

</body>
