<body style="background-color:#;">

<div class="dashboard-banner">
  <div class ="dashboard-headings">
    <h1 class ="crazshadow"><i>Happy to see you, <%= current_user.first_name %>.</i></h1>
    <p class="under">.</p>
  </div>
</div>

<!--------------------- UPCOMING BOOKINGS ----------------------->
<div class="container dashboard-page">
  <div class="d-flex">
      <h2>Upcoming Plantscapes</h2>
      <p class="barre">.</p>
      <%#= render "shared/underline" %>

    <!-- Button trigger modal -->
    <button type="button" class="btn back-button" data-toggle="modal" data-target="#exampleModal">
    <i class="fas fa-question"></i>
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content extras-details">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Details</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
          </div>
        <div class="modal-body extras-details">
            <div class="d-flex"><i class="far fa-gem"></i><p> - Dusting - we clean your plants</p></div>
            <div class="d-flex"><i class="far fa-hand-scissors"></i><p> - Cutting - we give your plants a hairstyle</p></div>
            <div class="d-flex"><i class="fas fa-exchange-alt"></i><p> - Repotting - we help one of your plants growing</p></div>
            <div class="d-flex"><i class="fas fa-camera"></i><p> - Picture - receive updates from your plants</p></div>
        </div>
      </div>
    </div>
  </div>
  </div>

    <div class="dashboard-bookings">
     <div class="row">
      <div style="width: 900px" class="d-flex flex-column">
        <% if @upcoming_bookings.blank? %>
        <p>No Plantscape planned yet!</p>
        <%else%>
          <table class="">
            <thead class= "bookings-head">
              <tr>
                <th scope="col">Booking Number</th>
                <th scope="col">Watering Dates</th>
                <th scope="col">Number of Plants</th>
                <th scope="col">Extras</th>
                <th scope="col">Total Price</th>
              </tr>
            </thead>
            <tbody class= "bookings-body">
              <% @upcoming_bookings.each do |booki| %>
                <tr>
                  <th scope="row"> # <%= booki.id %> </th>

                  <th scope="row" class="hover"><%= booki.waterings.count %> days
                    <div class="tooltipp"> <% booki.days.each do |date| %>
                      <ul>
                        <li><%= date %></li>
                      </ul>
                      <% end %>
                    </div>
                  </th>

                  <td><%= booki.number_of_plants %></td>
                  <td >
                    <% if booki.dusting_service %>
                      <i class="far fa-gem"></i>
                    <% end %>
                    <% if booki.cutting_service %>
                      <i class="far fa-hand-scissors"></i>
                    <% end %>
                    <% if booki.repotting_service %>
                      <i class="fas fa-exchange-alt"></i>
                    <% end %>
                    <% if booki.picture_service %>
                      <i class="fas fa-camera"></i>
                    <% end %>
                  </td>
                  <td><%= booki.price %>€</td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
        </div>
      </div>
    </div>

    <div class="row d-flex booking-buttons">
      <button class="btn back-button" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Past Bookings
      </button>
      <%= link_to " New booking", new_booking_path, class: "btn btn-lg yellow-button shadow px-3 py-2" %>
    </div>
</div>

<!--------------------- PAST BOOKINGS ----------------------->

<div class="container dashboard-page past-bookings">


<div class="collapse" id="collapseExample">
  <div class="d-flex">
    <h2>Past Plantscapes</h2>
    <p class="barre">.</p>
    <%#= render "shared/underline" %>

  </div>


    <div class="dashboard-bookings mb-5">
         <div class="row d-flex mt-5">
          <div style="width: 900px" class="d-flex flex-column">
            <% if @past_bookings.blank? %>
            <p>No past Plantscape!</p>
            <%else%>
              <table class="">
                <thead class= "bookings-head">
                  <tr>
                    <th scope="col">Booking Number</th>
                    <th scope="col">Watering Dates</th>
                    <th scope="col">Number of Plants</th>
                    <th scope="col">Extras</th>
                    <th scope="col">Total Price</th>
                  </tr>
                </thead>
                <tbody>

                 <% @past_bookings.each do |booki| %>
                  <tr>
                    <th scope="row"> # <%= booki.id %> </th>

                  <th scope="row" class="hover"><%= booki.waterings.count %> days
                    <div class="tooltipp"> <% booki.days.each do |date| %>
                      <ul>
                        <li><%= date %></li>
                      </ul>
                      <% end %>
                    </div>
                  </th>


                      <td><%= booki.number_of_plants %></td>
                      <td >
                        <% if booki.dusting_service %>
                          <i class="far fa-gem"></i>
                        <% end %>
                        <% if booki.cutting_service %>
                          <i class="far fa-hand-scissors"></i>
                        <% end %>
                        <% if booki.repotting_service %>
                          <i class="fas fa-exchange-alt"></i>
                        <% end %>
                        <% if booki.picture_service %>
                          <i class="fas fa-camera"></i>
                        <% end %>
                      </td>
                      <td><%= booki.price %>€</td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            <% end %>
          </div>
        </div>
      </div>
  </div>
</div>

<!--------------------- JUNGLES ----------------------->

<div class="container dashboard-page jungle">
    <h2>Your Jungles</h2>
    <p class="barre">.</p>
    <%#= render "shared/underline" %>
  <div class ="dashboard-jungles">
    <div class="row d-flex mt-5">

      <% if  @jungles.count == 0%>
        <div>
          <p>You do not have a jungle yet! If you create a Jungle and add your plants, you can upload pictures and a status to your plants! </p>
        </div>
      <% else  @jungles.count >= 1 %>
        <div style="width: 900px" class="d-flex flex-column">
          <%= render "shared/card-jungles" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="container">
  <%= link_to " Create a new Jungle",new_jungle_path, class: "btn btn-lg yellow-button shadow px-5 py-3 mb-5 mt-5" %>
  </div>
</div>

</body>