<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col">
      <!-- div for the jungle name -->
      <div>
        <h2 class="text-center"><%= @jungle.name %></h2>
      </div>
      <!-- div for the jungle image -->
      <div>
        <% if @jungle.photo.attached? %>
          <div class="banner-plant-show rounded-lg mt-4" style="background-image: url('<%= cl_image_path @jungle.photo.key %>')">
          </div>
        <% else %>
          <div class="banner-plant-show rounded-lg mt-4" style="background-image: url('/assets/indoor_jungle_10.jpg')">
          <h2 class="text-center bg-white"><%= current_user.first_name %>...update your Jungle and add an image</h2>
        <% end %>
      </div>

      <!-- div for the jungle plants listing -->
      <!-- <div class="text-center mt-5">
        <h2>The plants in your jungle</h2>
      </div>
      <div class="text-center mt-5">
        <ul>
          <%# @jungle.jungleplants.each do |jp| %>
            <h3><strong><%#= jp.plant.name %></strong></h3>
            <p><%#= jp.status %></p>
            <p><%#= jp.comments %></p>
            <p><%#= link_to "🗑", plant_path(jp) , method: :delete %></p>
          <%# end %>
        </ul>
      </div> -->

      <!-- div for the jungle plants listing (Cards) as iteration for the plants associated with the specific jungle of the user -->

      <div class="text-center mt-5">
        <h2>The plants in your jungle</h2>
      </div>

      <div class="row mt-4">
        <% @jungle.jungleplants.each do |jp| %>
          <div class="col-sm-6 col-md-6 col-lg-4 mb-4 link-style">
          <%#= link_to plant_path(jp) do%>
            <!-- CREATING THE CARD CONTAINER -->
            <div class="card card-plant-style card-dynamic pos-relative card-plant-style-hover">
              <!-- TOP IMAGE part of CARD PLANT -->
              <div class="jp-overlay d-flex justify-content-between w-100">
                <div class="icon-status mt-2 ml-2"><strong><%= jp.status %></strong></div>
                <p class="mt-2 mr-2"><%= link_to "🗑", plant_path(jp) , method: :delete %></p>
              </div>
              <div class="card-plant-img">
              <%= link_to plant_path(jp) do%>
              <%= cl_image_tag jp.plant.photo.key, class: "card-img-top rounded"%>
               <!--  <div class="jp-overlay">
                  <p class="icon-status"><%= jp.status %></p>
                  <p><%#= link_to "🗑", plant_path(jp) , method: :delete %></p>
                </div> -->
              </div>
              <!-- bottom part of CARD PLANT -->
              <div class="card-body">
                <!-- <h5 class="card-title text-center"><%#= plant.name %></h5> -->
                <!-- card-text limites to lenght: 100 -->
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                <%#= link_to "Go to plant", plant_path(plant), class:"btn yellow-button" %>
                <!-- <h5 class="card-title text-center link-style"><%#= link_to plant.name, plant_path(plant)%></h5> -->
                <h5 class="card-title text-center link-style"><%= jp.plant.name %></h5>
              </div>
            </div>
          <% end %>
          </div>
        <% end %>
      </div>

      <div class="row mt-4 d-flex justify-content-around">
        <%= link_to " + Add a plant ", new_jungle_jungleplant_path(@jungle), class: "btn btn-sm yellow-button shadow px-5 py-3 mb-5"%>
          <br>
        <%= link_to "Back", jungles_path(@jungle), class: "btn btn-sm back-button shadow px-5 py-3 mb-5"%>
      </div>
    </div>
  </div>
</div>
