<!DOCTYPE html>
<html>
  <head>
    <title>Plantscape - We take your plants on vacation, while you are. Book a plantsitte now!</title>
    <meta name="description" content="We take your plants on vacation, while you are. Book a plantsitte now!">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="robots" content="index, follow">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <link rel="icon" href="https://res.cloudinary.com/dwmwaf1jp/image/upload/v1599043825/Logo_Plantscape_lda6iy.png" type="image/png">
    <link rel="apple-touch-icon" href="https://res.cloudinary.com/dwmwaf1jp/image/upload/v1599043825/Logo_Plantscape_lda6iy.png">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:site_name" content="Plantscape - We take your plants on vacation, while you are. Book a plantsitter now!">
    <meta property="og:title" content="Plantscape - We take your plants on vacation, while you are.">
    <meta property="og:type" content="article">
    <meta property="og:url" content="http://www.plantscape.me">
    <meta property="og:image" content="https://res.cloudinary.com/dwmwaf1jp/image/upload/c_crop,e_auto_contrast,g_center,h_630,w_1200/v1599046705/photo-1521488556596-d319e686bfa5_tn8f1b.jpg">
    <meta property="og:description" content="Plantscape - We take your plants on vacation, while you are. Book a plantsitter now!">


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <div id="container">
      <%= render "shared/navbar", background: params[:controller] == "pages" && params[:action] == "home" %>
      <%= render 'shared/flashes' %>
      <div>
        <%= yield %>
      </div>
      <%= render 'shared/footer' %>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>


